In [42]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

## Part 1: Data Cleaning and Exploration

In [7]:
df = pd.read_csv('crime_data.csv')
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,241711715,08/01/2024 12:00:00 AM,08/01/2024 12:00:00 AM,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),0344 0394,25,M,O,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,440.0,NaN,NaN,NaN,8300 KELVIN AV,NaN,34.2200,-118.5863
1,231014031,09/21/2023 12:00:00 AM,09/15/2023 12:00:00 AM,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,1822 0930,23,F,W,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,18900 CANTLAY ST,NaN,34.2023,-118.5458
2,231010808,06/27/2023 12:00:00 AM,06/26/2023 12:00:00 AM,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,1822 0928,37,F,O,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,7300 ENFIELD AV,NaN,34.2033,-118.5241
3,211410441,04/25/2021 12:00:00 AM,04/25/2021 12:00:00 AM,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,0913 0400 0448,25,F,B,503.0,HOTEL,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,5800 W CENTURY BL,NaN,33.9456,-118.3835
4,211114569,10/25/2021 12:00:00 AM,10/25/2021 12:00:00 AM,1455,11,Northeast,1123,1,210,ROBBERY,1309 0945 0334 0325,0,X,X,412.0,"ELECTRONICS STORE (IE:RADIO SHACK, ETC.)",200.0,KNIFE WITH BLADE 6INCHES OR LESS,IC,Invest Cont,210.0,NaN,NaN,NaN,2900 LOS FELIZ BL,NaN,0.0000,0.0000

In [10]:
df.isna().sum() # identifying columns that are going to be dropped

DR_NO                 0
Date Rptd             0
DATE OCC              0
TIME OCC              0
AREA                  0
AREA NAME             0
Rpt Dist No           0
Part 1-2              0
Crm Cd                0
Crm Cd Desc           0
Mocodes            7498
Vict Age              0
Vict Sex           7163
Vict Descent       7165
Premis Cd             0
Premis Desc          29
Weapon Used Cd    33654
Weapon Desc       33654
Status                0
Status Desc           0
Crm Cd 1              2
Crm Cd 2          46448
Crm Cd 3          49885
Crm Cd 4          49995
LOCATION              0
Cross Street      42258
LAT                   0
LON                   0
dtype: int64

In [12]:
df_cleaned = df.dropna(axis=1, thresh=(len(df) * 0.5))
df_cleaned

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON
0,241711715,08/01/2024 12:00:00 AM,08/01/2024 12:00:00 AM,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),0344 0394,25,M,O,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,440.0,8300 KELVIN AV,34.2200,-118.5863
1,231014031,09/21/2023 12:00:00 AM,09/15/2023 12:00:00 AM,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,1822 0930,23,F,W,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,354.0,18900 CANTLAY ST,34.2023,-118.5458
2,231010808,06/27/2023 12:00:00 AM,06/26/2023 12:00:00 AM,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,1822 0928,37,F,O,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,354.0,7300 ENFIELD AV,34.2033,-118.5241
3,211410441,04/25/2021 12:00:00 AM,04/25/2021 12:00:00 AM,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,0913 0400 0448,25,F,B,503.0,HOTEL,IC,Invest Cont,626.0,5800 W CENTURY BL,33.9456,-118.3835
4,211114569,10/25/2021 12:00:00 AM,10/25/2021 12:00:00 AM,1455,11,Northeast,1123,1,210,ROBBERY,1309 0945 0334 0325,0,X,X,412.0,"ELECTRONICS STORE (IE:RADIO SHACK, ETC.)",IC,Invest Cont,210.0,2900 LOS FELIZ BL,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,211415242,07/18/2021 12:00:00 AM,07/18/2021 12:00:00 AM,1651,14,Pacific,1494,2,623,BATTERY POLICE (SIMPLE),1212 1822,0,M,H,212.0,TRANSPORTATION FACILITY (AIRPORT),AA,Adult Arrest,623.0,200 WORLD WAY WY,33.9420,-118.4095
49996,200905135,01/27/2020 12:00:00 AM,01/25/2020 12:00:00 AM,1100,9,Van Nuys,941,1,210,ROBBERY,0344 1822 0334 0910 1218,33,M,O,124.0,BUS STOP,IC,Invest Cont,210.0,SEPULVEDA BL,34.1758,-118.4662
49997,220711599,07/14/2022 12:00:00 AM,07/13/2022 12:00:00 AM,305,7,Wilshire,721,1,310,BURGLARY,1609 0344 1822 0216,0,M,W,203.0,OTHER BUSINESS,IC,Invest Cont,310.0,8500 W 3RD ST,34.0734,-118.3765
49998,211810785,05/21/2021 12:00:00 AM,05/21/2021 12:00:00 AM,200,18,Southeast,1842,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0913 1813 0448 0416 0446,32,F,B,101.0,STREET,IC,Invest Cont,626.0,IMPERIAL HY,33.9310,-118.2739
49999,241406818,03/02/2024 12:00:00 AM,11/10/2022 12:00:00 AM,1600,14,Pacific,1473,1,821,SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO...,0500 0519,31,F,B,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,821.0,7400 W MANCHESTER AV,33.9599,-118.4237

In [21]:
df_cleaned.loc[:, "DATE OCC"] = pd.to_datetime(df_cleaned["DATE OCC"], format="%m/%d/%Y %I:%M:%S %p").dt.date

df_cleaned.loc[:, "Year"] = pd.to_datetime(df_cleaned["DATE OCC"]).dt.year
df_cleaned.loc[:, "Month"] = pd.to_datetime(df_cleaned["DATE OCC"]).dt.month
df_cleaned.loc[:, "Day"] = pd.to_datetime(df_cleaned["DATE OCC"]).dt.day

df_cleaned.loc[:, "Hour"] = df_cleaned["TIME OCC"].astype(str).str.zfill(4).str[:2].astype(int)

# Checking the type
type(df_cleaned['DATE OCC'][0])

datetime.date

In [23]:
df_filtered = df_cleaned[(df_cleaned['Year'] == 2023) & (df_cleaned['Crm Cd Desc'] == 'BURGLARY')]
df_filtered

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON,Year,Month,Day,Hour
47,231107877,04/15/2023 12:00:00 AM,2023-01-15,500,11,Northeast,1151,1,310,BURGLARY,0531 1822 0451,53,F,H,504.0,OTHER RESIDENCE,IC,Invest Cont,310.0,5000 W SUNSET BL,34.0981,-118.2983,2023,1,15,5
147,231912840,08/15/2023 12:00:00 AM,2023-08-14,2200,19,Mission,1962,1,310,BURGLARY,0314 0344 1402,45,F,B,507.0,CONDOMINIUM/TOWNHOUSE,IC,Invest Cont,310.0,15000 CORE LN,34.2424,-118.4596,2023,8,14,22
292,230813484,08/19/2023 12:00:00 AM,2023-08-19,510,8,West LA,857,1,310,BURGLARY,0358 1609 0321 1822,0,X,X,210.0,RESTAURANT/FAST FOOD,IC,Invest Cont,310.0,9400 W PICO BL,34.0553,-118.3943,2023,8,19,5
317,230126836,12/20/2023 12:00:00 AM,2023-12-10,1200,1,Central,154,1,310,BURGLARY,0344,34,M,B,221.0,PUBLIC STORAGE,IC,Invest Cont,310.0,100 E 6TH ST,34.0460,-118.2493,2023,12,10,12
326,231506351,02/26/2023 12:00:00 AM,2023-02-22,1230,15,N Hollywood,1562,1,310,BURGLARY,1609 0344,60,F,W,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,310.0,4400 BABCOCK AV,34.1504,-118.4063,2023,2,22,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49845,231606276,03/14/2023 12:00:00 AM,2023-03-14,1,16,Foothill,1677,1,310,BURGLARY,1822 0344,56,M,W,120.0,STORAGE SHED,IC,Invest Cont,310.0,7800 SHADYCOVE AV,34.2130,-118.3442,2023,3,14,0
49850,230811878,07/13/2023 12:00:00 AM,2023-06-23,1200,8,West LA,807,1,310,BURGLARY,1822 0344 1607,85,F,W,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,310.0,1800 CALGARY LN,34.1044,-118.4448,2023,6,23,12
49874,231320692,11/16/2023 12:00:00 AM,2023-11-11,1600,13,Newton,1303,1,310,BURGLARY,0344 1602 0358 1610,0,X,X,406.0,OTHER STORE,IC,Invest Cont,310.0,500 E 9TH ST,34.0388,-118.2519,2023,11,11,16
49922,231515412,09/28/2023 12:00:00 AM,2023-09-26,1530,15,N Hollywood,1547,1,310,BURGLARY,1822 0344,33,F,B,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,310.0,11400 ALBERS ST,34.1705,-118.3790,2023,9,26,15
49990,230500901,11/12/2023 12:00:00 AM,2023-11-12,1315,5,Harbor,515,1,310,BURGLARY,1402 0344 0352 1221 0321,39,F,H,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,310.0,1500 BAY VIEW AV,33.7929,-118.2710,2023,11,12,13

In [24]:
df_stats = df_cleaned \
    .groupby("AREA NAME") \
    .agg(
        total_crimes=("Vict Age", "count"),
        avg_vict_age=("Vict Age", "mean")
    ) \
    .sort_values(by="total_crimes", ascending=False) 

df_stats

             total_crimes  avg_vict_age
AREA NAME
Central              3517     28.481376
77th Street          3115     29.151525
Pacific              3004     28.978029
Southwest            2831     29.048040
Hollywood            2556     28.331377
Newton               2537     25.054789
Olympic              2523     27.732858
N Hollywood          2503     28.346784
Southeast            2459     28.362749
Rampart              2388     26.273451
Wilshire             2379     29.595628
West LA              2249     30.307248
Van Nuys             2162     31.748381
West Valley          2114     30.640492
Northeast            2103     28.732763
Topanga              2076     34.018786
Harbor               2052     26.983918
Devonshire           2031     29.597735
Mission              1933     29.609415
Hollenbeck           1843     26.158437
Foothill             1625     30.511385

## Part 2: Further Exploration (Python only)

In [33]:
top_crimes = df_cleaned \
    .groupby('Crm Cd Desc') \
    .agg(count=('Crm Cd Desc', 'count')) \
    .sort_values('count', ascending=False) \
    .head(n=3)

top_crimes

                          count
Crm Cd Desc
VEHICLE - STOLEN           5733
BATTERY - SIMPLE ASSAULT   3715
THEFT OF IDENTITY          3169

In [40]:
crime_by_hour = df_cleaned.groupby("Hour").size().reset_index(name="Total_Crimes")
crime_by_hour

    Hour  Total_Crimes
0      0          2025
1      1          1490
2      2          1241
3      3          1063
4      4           975
5      5           848
6      6          1106
7      7          1302
8      8          1776
9      9          1841
10    10          2110
11    11          2114
12    12          3446
13    13          2246
14    14          2504
15    15          2667
16    16          2597
17    17          2914
18    18          3015
19    19          2762
20    20          2830
21    21          2553
22    22          2469
23    23          2106

In [41]:
crime_by_vict_sex = df_cleaned \
    .groupby("Vict Sex") \
    .agg(
        total_crimes=("Vict Age", "count"),
        avg_vict_age=("Vict Age", "mean")
    ) \
    .reset_index()

crime_by_vict_sex

  Vict Sex  total_crimes  avg_vict_age
0        F         17922     38.164156
1        H             3     36.333333
2        M         20076     37.165621
3        X          4836      2.672043

## Part 4: Advanced Analysis

In [43]:
df["Severity Score"] = np.where(
    df["Weapon Used Cd"].notna(), 5,
    np.where(df["Crm Cd Desc"] == "BURGLARY", 3, 1)
)

severity_score = df.groupby("AREA NAME")["Severity Score"].sum().reset_index()
severity_score

      AREA NAME  Severity Score
0   77th Street            9247
1       Central            8541
2    Devonshire            4429
3      Foothill            3823
4        Harbor            4940
5    Hollenbeck            4439
6     Hollywood            6590
7       Mission            4493
8   N Hollywood            5431
9        Newton            6773
10    Northeast            4461
11      Olympic            6257
12      Pacific            6490
13      Rampart            6216
14    Southeast            7129
15    Southwest            7005
16      Topanga            4484
17     Van Nuys            4724
18      West LA            4625
19  West Valley            4952
20     Wilshire            5203

## Bonus Part

In [ ]:
# Review the file crimes_by_area.png to see the crimes broken down by area